.ticket_cont {
    display: flex;
    border: 1px solid black;
    padding: 15px;
    gap: 30px;
    justify-content: space-between;
    align-items: start;
    position:relative;
}
.ticket_cont_active {
    display: flex;
    border: 1px solid black;
    padding: 15px;
    gap: 30px;
    justify-content: space-between;
    align-items: start;
    position:relative;
    height: 100px;
}
.add_ticket {
    margin-bottom: 25px;
}
.description {
    padding: 15px;
    position:relative;
    top: -50px;
}
.modal_delete_window {
    position: absolute;
    top: 30vh;
    left: 35vw;
    background-color: white;
    text-align: center;
    padding: 25px;  
    border: 1px solid black;
    border-radius: 25px;

}

.edit_modal_window {
    border: 1px solid black;
    border-radius: 25px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30vh;
    left: 35vw;
    background-color: white;
    text-align: center;
    padding: 25px;  
}
.modal_window {
    border: 1px solid black;
    border-radius: 25px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30vh;
    left: 35vw;
    background-color: white;
    text-align: center;
    padding: 25px;    
}